{
	"##album_icons##" : {
		"FM" : "/interface/scripted/fm_musicplayer/icon_fm.png"
	},
	
	"FM" : [
		{
			"name" : "Cybernetic Waste",
			"directory" : "/music/cyberwaste.ogg"
		},
		{
			"name" : "The Aether",
			"directory" : "/music/aether.ogg"
		},
		{
			"name" : "Simply Not There",
			"directory" : "/music/simplynotthere.ogg"
		},
		{
			"name" : "Psy-Castle",
			"directory" : "/music/psycastle.ogg"
		},
		{
			"name" : "Day Of Ruin",
			"directory" : "/music/dayofruin.ogg"
		},
		{
			"name" : "Hades",
			"directory" : "/music/hades.ogg"
		},
		{
			"name" : "To the Finder",
			"directory" : "/music/nighthorror.ogg"
		},		
		{
			"name" : "A Day Of Life",
			"directory" : "/music/A-Day-of-Life.ogg"
		},
		{
			"name" : "Aeon Of The Angels",
			"directory" : "/music/aeon-of-the-angels.ogg"
		},
		{
			"name" : "Air Prelude",
			"directory" : "/music/Air Prelude.ogg"
		},
		{
			"name" : "Alien 1",
			"directory" : "/music/alien_1.ogg"
		},
		{
			"name" : "Allada",
			"directory" : "/music/Allada.ogg"
		},
		{
			"name" : "Ambush In Rattlesnake Gulch",
			"directory" : "/music/ambush_in_rattlesnake_gulch.ogg"
		},
		{
			"name" : "Angels Redemption",
			"directory" : "/music/angels_redemption.ogg"
		},
		{
			"name" : "Angels Tear",
			"directory" : "/music/angels_tear.ogg"
		},
		{
			"name" : "Angels Sing",
			"directory" : "/music/angels-sing.ogg"
		},
		{
			"name" : "Angevin",
			"directory" : "/music/Angevin.ogg"
		},
		{
			"name" : "Apocalypse",
			"directory" : "/music/Apocalypse.ogg"
		},
		{
			"name" : "Araba",
			"directory" : "/music/araba.ogg"
		},
		{
			"name" : "Artificial Intelligence",
			"directory" : "/music/artificial_intelligence.ogg"
		},
		{
			"name" : "As The Phoenix Rises",
			"directory" : "/music/as-the-phoenix-rises.ogg"
		},
		{
			"name" : "Atropus",
			"directory" : "/music/atropus.ogg"
		},
		{
			"name" : "Atropus Handyman",
			"directory" : "/music/atropus_handyman.ogg"
		},
		{
			"name" : "Atropus World",
			"directory" : "/music/atropusworld.ogg"
		},
		{
			"name" : "Awakening",
			"directory" : "/music/awakening.ogg"
		},
		{
			"name" : "Bazaar Of Tal Mashad",
			"directory" : "/music/bazaar_of_tal-mashad.ogg"
		},
		{
			"name" : "Beyond The Coast",
			"directory" : "/music/beyond-the-coast.ogg"
		},
		{
			"name" : "Blind Love",
			"directory" : "/music/blind-love.ogg"
		},
		{
			"name" : "Brave",
			"directory" : "/music/Brave.ogg"
		},
		{
			"name" : "Building A Bridge",
			"directory" : "/music/Building-a-Bridge.ogg"
		},
		{
			"name" : "Burn Them Down",
			"directory" : "/music/burn_them_down.ogg"
		},
		{
			"name" : "By The Sword",
			"directory" : "/music/By-The-Sword.ogg"
		},
		{
			"name" : "Castle Meinhoff",
			"directory" : "/music/castle-meinhoff.ogg"
		},
		{
			"name" : "Catacombs Feat Fior",
			"directory" : "/music/catacombs-feat-fior.ogg"
		},
		{
			"name" : "Celtic Fever",
			"directory" : "/music/celtic-fever.ogg"
		},
		{
			"name" : "City Of Stars",
			"directory" : "/music/City-of-Stars.ogg"
		},
		{
			"name" : "City Of The Clouds",
			"directory" : "/music/City-of-the-Clouds.ogg"
		},
		{
			"name" : "Clash Defiant",
			"directory" : "/music/Clash Defiant.ogg"
		},
		{
			"name" : "Claudius",
			"directory" : "/music/claudius.ogg"
		},
		{
			"name" : "Cold Front",
			"directory" : "/music/cold-front.ogg"
		},
		{
			"name" : "Colossus",
			"directory" : "/music/Colossus.ogg"
		},
		{
			"name" : "Come Play With Me",
			"directory" : "/music/Come Play with Me.ogg"
		},
		{
			"name" : "Consequence",
			"directory" : "/music/Consequence.ogg"
		},
		{
			"name" : "Controlled Chaos",
			"directory" : "/music/Controlled Chaos.ogg"
		},
		{
			"name" : "Corruption",
			"directory" : "/music/Corruption.ogg"
		},
		{
			"name" : "Cosmic 2",
			"directory" : "/music/cosmic_2.ogg"
		},
		{
			"name" : "Cosmic 3",
			"directory" : "/music/cosmic_3.ogg"
		},
		{
			"name" : "Crystal Cavern",
			"directory" : "/music/crystal_cavern.ogg"
		},
		{
			"name" : "Curse Of The Scarab",
			"directory" : "/music/Curse of the Scarab.ogg"
		},
		{
			"name" : "Dama May",
			"directory" : "/music/dama-may.ogg"
		},
		{
			"name" : "Dense Macabre",
			"directory" : "/music/danse_macabre.ogg"
		},
		{
			"name" : "Dark Dance",
			"directory" : "/music/Dark Dance.ogg"
		},
		{
			"name" : "Dark Times",
			"directory" : "/music/Dark Times.ogg"
		},
		{
			"name" : "Dark Dark Star",
			"directory" : "/music/dark_darkstar.ogg"
		},
		{
			"name" : "Dark Falling Skies",
			"directory" : "/music/dark_fallingskies.ogg"
		},
		{
			"name" : "Dark Fog",
			"directory" : "/music/dark_fog.ogg"
		},
		{
			"name" : "Dark Found And Lost",
			"directory" : "/music/dark_foundandlost.ogg"
		},
		{
			"name" : "Dark Secrets",
			"directory" : "/music/dark_secrets.ogg"
		},
		{
			"name" : "Dark Sinister Caverns",
			"directory" : "/music/dark_sinistercaverns.ogg"
		},
		{
			"name" : "Dark Slow Darkness",
			"directory" : "/music/dark_slowdarkness.ogg"
		},
		{
			"name" : "Dark Something Ominous",
			"directory" : "/music/dark_somethingominous.ogg"
		},
		{
			"name" : "Darkerly Stormy",
			"directory" : "/music/darkerly-stormy.ogg"
		},
		{
			"name" : "Darkness Is Coming",
			"directory" : "/music/darkness_is_coming.ogg"
		},
		{
			"name" : "Dark Temple",
			"directory" : "/music/dark-temple.ogg"
		},
		{
			"name" : "Day Of Chaos",
			"directory" : "/music/day_of_chaos.ogg"
		},
		{
			"name" : "Death Of A Hero",
			"directory" : "/music/death-of-a-hero.ogg"
		},
		{
			"name" : "Desert Village",
			"directory" : "/music/desert_village.ogg"
		},
		{
			"name" : "Dilate",
			"directory" : "/music/dilate.ogg"
		},
		{
			"name" : "Dire News",
			"directory" : "/music/dire_news.ogg"
		},
		{
			"name" : "Dragon and Toast",
			"directory" : "/music/Dragon and Toast.ogg"
		},
		{
			"name" : "Dreaming Of Flying",
			"directory" : "/music/dreaming_of_flying.ogg"
		},
		{
			"name" : "Earth Prelude",
			"directory" : "/music/Earth Prelude.ogg"
		},
		{
			"name" : "Echoes of Time V2",
			"directory" : "/music/Echoes of Time v2.ogg"
		},
		{
			"name" : "Echoes of Time",
			"directory" : "/music/Echoes of Time.ogg"
		},
		{
			"name" : "Ecosystem",
			"directory" : "/music/ecosystem.ogg"
		},
		{
			"name" : "Egmont Overture",
			"directory" : "/music/egmont_overture.ogg"
		},
		{
			"name" : "Electricepic",
			"directory" : "/music/electricepic.ogg"
		},
		{
			"name" : "End Of Days",
			"directory" : "/music/end-of-days.ogg"
		},
		{
			"name" : "Enigmatic",
			"directory" : "/music/enigmatic.ogg"
		},
		{
			"name" : "Esperanza De La Veg",
			"directory" : "/music/esperanza-de-la-veg.ogg"
		},
		{
			"name" : "Evening Falls",
			"directory" : "/music/evening_falls.ogg"
		},
		{
			"name" : "Evening Of Chaos",
			"directory" : "/music/evening_of_chaos.ogg"
		},
		{
			"name" : "Everything We Stand",
			"directory" : "/music/everything-we-stand.ogg"
		},
		{
			"name" : "Exotic Battle",
			"directory" : "/music/Exotic Battle.ogg"
		},
		{
			"name" : "Fading Memories",
			"directory" : "/music/Fading-Memories.ogg"
		},
		{
			"name" : "Falling Down",
			"directory" : "/music/falling-down.ogg"
		},
		{
			"name" : "Fall Of An Angel",
			"directory" : "/music/Fall-Of-An-Angel.ogg"
		},
		{
			"name" : "Folk Round",
			"directory" : "/music/Folk Round.ogg"
		},
		{
			"name" : "Folk Lore",
			"directory" : "/music/folklore.ogg"
		},
		{
			"name" : "Forest Night",
			"directory" : "/music/forest night.ogg"
		},
		{
			"name" : "Forest Lament",
			"directory" : "/music/forest_lament.ogg"
		},
		{
			"name" : "Forest Lonely",
			"directory" : "/music/forest_lonely.ogg"
		},
		{
			"name" : "Forest Night 1",
			"directory" : "/music/forest_night1.ogg"
		},
		{
			"name" : "Forest Night 2",
			"directory" : "/music/forest_night2.ogg"
		},
		{
			"name" : "Forest Sombre",
			"directory" : "/music/forest_sombre.ogg"
		},
		{
			"name" : "Forest Of Desolation",
			"directory" : "/music/forest-of-desolation.ogg"
		},
		{
			"name" : "Frozen Silence",
			"directory" : "/music/frozen_silence.ogg"
		},
		{
			"name" : "Future Gladiator",
			"directory" : "/music/future gladiator.ogg"
		},
		{
			"name" : "Gagool",
			"directory" : "/music/Gagool.ogg"
		},
		{
			"name" : "Halindir Vanaheim",
			"directory" : "/music/halindir-vanaheim.ogg"
		},
		{
			"name" : "Heavy Heart",
			"directory" : "/music/Heavy Heart.ogg"
		},
		{
			"name" : "Honour In Death",
			"directory" : "/music/honour-in-death.ogg"
		},
		{
			"name" : "Hope For Rebirth",
			"directory" : "/music/hope_for_rebirth.ogg"
		},
		{
			"name" : "Hymn Of Twilight",
			"directory" : "/music/hymn_of_twilight.ogg"
		},
		{
			"name" : "Ice Demon",
			"directory" : "/music/ice demon.ogg"
		},
		{
			"name" : "Icewaste Surface",
			"directory" : "/music/icewaste_surface.ogg"
		},
		{
			"name" : "Icewaste Surface 2",
			"directory" : "/music/icewaste_surface2.ogg"
		},
		{
			"name" : "I Killed God",
			"directory" : "/music/i-killed-god.ogg"
		},
		{
			"name" : "Infernus Epic",
			"directory" : "/music/infernus_epic.ogg"
		},
		{
			"name" : "Infernus Night",
			"directory" : "/music/infernus_night.ogg"
		},
		{
			"name" : "Infernus Sombre",
			"directory" : "/music/infernus_sombre.ogg"
		},
		{
			"name" : "Infernus Surface",
			"directory" : "/music/infernus_surface.ogg"
		},
		{
			"name" : "Infernus Surface 2",
			"directory" : "/music/infernus_surface2.ogg"
		},
		{
			"name" : "Isibinis Journey",
			"directory" : "/music/isibindis-journey.ogg"
		},
		{
			"name" : "Jalandhar",
			"directory" : "/music/Jalandhar.ogg"
		},
		{
			"name" : "Jungle Day",
			"directory" : "/music/jungle_day.ogg"
		},
		{
			"name" : "Jungle Drums",
			"directory" : "/music/jungle_drums.ogg"
		},
		{
			"name" : "Junkyard Tribe",
			"directory" : "/music/Junkyard Tribe.ogg"
		},
		{
			"name" : "Khufus Legacy",
			"directory" : "/music/khufus-legacy.ogg"
		},
		{
			"name" : "Kimi Wo Nosete Lapu",
			"directory" : "/music/Kimi-wo-Nosete-Lapu.ogg"
		},
		{
			"name" : "Labbaik",
			"directory" : "/music/labbaik.ogg"
		},
		{
			"name" : "Land Of Zelmonia",
			"directory" : "/music/land-of-zelmonia.ogg"
		},
		{
			"name" : "Logical Defiance",
			"directory" : "/music/Logical_Defiance.ogg"
		},
		{
			"name" : "Loss",
			"directory" : "/music/loss.ogg"
		},
		{
			"name" : "Machine",
			"directory" : "/music/Machine.ogg"
		},
		{
			"name" : "Martian Cowboy",
			"directory" : "/music/Martian Cowboy.ogg"
		},
		{
			"name" : "Masquerade",
			"directory" : "/music/masquerade.ogg"
		},
		{
			"name" : "Merhaba",
			"directory" : "/music/merhaba.ogg"
		},
		{
			"name" : "Metaphysik",
			"directory" : "/music/Metaphysik.ogg"
		},
		{
			"name" : "Middle Earth Fire M",
			"directory" : "/music/Middle-Earth-Fire-M.ogg"
		},
		{
			"name" : "Minds Eye",
			"directory" : "/music/minds_eye.ogg"
		},
		{
			"name" : "Minima",
			"directory" : "/music/Minima.ogg"
		},
		{
			"name" : "Minstrel Guild",
			"directory" : "/music/minstrel guild.ogg"
		},
		{
			"name" : "Mirage",
			"directory" : "/music/mirage.ogg"
		},
		{
			"name" : "Moontears Pt I",
			"directory" : "/music/moontears-pt-i.ogg"
		},
		{
			"name" : "Moorland",
			"directory" : "/music/Moorland.ogg"
		},
		{
			"name" : "Morning Routine",
			"directory" : "/music/Morning-Routine.ogg"
		},
		{
			"name" : "Myst On The Moor",
			"directory" : "/music/Myst on the Moor.ogg"
		},
		{
			"name" : "Mystic River",
			"directory" : "/music/mystic_river.ogg"
		},
		{
			"name" : "Nature Walk",
			"directory" : "/music/Naturewalk.ogg"
		},
		{
			"name" : "Night Of Chaos",
			"directory" : "/music/night of chaos.ogg"
		},
		{
			"name" : "Nomad",
			"directory" : "/music/Nomad.ogg"
		},
		{
			"name" : "No One Fights Alone",
			"directory" : "/music/No-One-Fights-Alone.ogg"
		},
		{
			"name" : "No Sleep",
			"directory" : "/music/no-sleep.ogg"
		},
		{
			"name" : "Nothing Broken",
			"directory" : "/music/nothing broken.ogg"
		},
		{
			"name" : "Notion",
			"directory" : "/music/Notion.ogg"
		},
		{
			"name" : "Only Meith",
			"directory" : "/music/onlymeith.ogg"
		},
		{
			"name" : "Onwards",
			"directory" : "/music/Onwards.ogg"
		},
		{
			"name" : "Orion 300xb",
			"directory" : "/music/orion 300xb.ogg"
		},
		{
			"name" : "Passing Twilight",
			"directory" : "/music/passing_twilight.ogg"
		},
		{
			"name" : "Peer Gynt - Anitras Dream",
			"directory" : "/music/peer gynt - anitras dream.ogg"
		},
		{
			"name" : "Peer Gynt - Morning",
			"directory" : "/music/peer gynt - morning.ogg"
		},
		{
			"name" : "Penumbra",
			"directory" : "/music/penumbra.ogg"
		},
		{
			"name" : "Phantasm",
			"directory" : "/music/Phantasm.ogg"
		},
		{
			"name" : "Piece For Two Fingers",
			"directory" : "/music/piece for two fingers.ogg"
		},
		{
			"name" : "Planet's Binding",
			"directory" : "/music/planets-binding.ogg"
		},
		{
			"name" : "Procession",
			"directory" : "/music/procession.ogg"
		},
		{
			"name" : "Proto",
			"directory" : "/music/proto.ogg"
		},
		{
			"name" : "Proto Surface",
			"directory" : "/music/proto_surface.ogg"
		},
		{
			"name" : "Psychedelic Crater",
			"directory" : "/music/psychedelic crater.ogg"
		},
		{
			"name" : "Quinns Song - First Night",
			"directory" : "/music/quinns song-first night.ogg"
		},
		{
			"name" : "Rainy Day",
			"directory" : "/music/rainy_day.ogg"
		},
		{
			"name" : "Red Ray",
			"directory" : "/music/Red-Ray.ogg"
		},
		{
			"name" : "Return Of Lazarus",
			"directory" : "/music/return of lazarus.ogg"
		},
		{
			"name" : "Ritual",
			"directory" : "/music/Ritual.ogg"
		},
		{
			"name" : "Sacchrine Love Theme",
			"directory" : "/music/sacchrine love theme.ogg"
		},
		{
			"name" : "Sanctuary",
			"directory" : "/music/sanctuary.ogg"
		},
		{
			"name" : "Saving Reality",
			"directory" : "/music/Saving-Reality.ogg"
		},
		{
			"name" : "Semper Fidelis",
			"directory" : "/music/Semper-Fidelis.ogg"
		},
		{
			"name" : "Skynet",
			"directory" : "/music/Skynet.ogg"
		},
		{
			"name" : "Snow Drop",
			"directory" : "/music/snowdrop.ogg"
		},
		{
			"name" : "Solara Theory II",
			"directory" : "/music/Solara-Theory-II.ogg"
		},
		{
			"name" : "Song Of Mourning",
			"directory" : "/music/song_of_mourning.ogg"
		},
		{
			"name" : "Spacial Winds",
			"directory" : "/music/spacial winds.ogg"
		},
		{
			"name" : "Stop And Stare",
			"directory" : "/music/stop-and-stare.ogg"
		},
		{
			"name" : "Stranger",
			"directory" : "/music/stranger.ogg"
		},
		{
			"name" : "String Impromptu Number 1",
			"directory" : "/music/string impromptu number 1.ogg"
		},
		{
			"name" : "Symphony For The Dead",
			"directory" : "/music/Symphony-for-the-Dead.ogg"
		},
		{
			"name" : "The Endless",
			"directory" : "/music/the endless.ogg"
		},
		{
			"name" : "The Planets - Mars",
			"directory" : "/music/the planets - mars.ogg"
		},
		{
			"name" : "The Planets - Venus",
			"directory" : "/music/the planets - venus.ogg"
		},
		{
			"name" : "The Ancients",
			"directory" : "/music/the_ancients.ogg"
		},
		{
			"name" : "The Imaginary Sword",
			"directory" : "/music/the_imaginary_sword.ogg"
		},
		{
			"name" : "The Superbugs Attack",
			"directory" : "/music/the_superbugs_attack.ogg"
		},
		{
			"name" : "The Terrible Tale",
			"directory" : "/music/the_terrible_tale.ogg"
		},
		{
			"name" : "The Ballad Of Reformation",
			"directory" : "/music/the-ballad-of-reformation.ogg"
		},
		{
			"name" : "The Green Valley",
			"directory" : "/music/the-green-valley.ogg"
		},
		{
			"name" : "The Irish War",
			"directory" : "/music/the-irish-war.ogg"
		},
		{
			"name" : "The Long Journey",
			"directory" : "/music/the-long-journey.ogg"
		},
		{
			"name" : "The Mourning",
			"directory" : "/music/The-Mourning.ogg"
		},
		{
			"name" : "The Spirit World",
			"directory" : "/music/the-spirit-world.ogg"
		},
		{
			"name" : "The Survivor",
			"directory" : "/music/the-survivor.ogg"
		},
		{
			"name" : "The Tomb Shaker",
			"directory" : "/music/the-tomb-shaker.ogg"
		},
		{
			"name" : "The Traveller",
			"directory" : "/music/the-traveller.ogg"
		},
		{
			"name" : "They Came From Nowhere",
			"directory" : "/music/they_came_from_nowhere.ogg"
		},
		{
			"name" : "Through The Dark Portal",
			"directory" : "/music/through_the_dark_portal.ogg"
		},
		{
			"name" : "Thunder Dreams",
			"directory" : "/music/thunder dreams.ogg"
		},
		{
			"name" : "Thunderbird",
			"directory" : "/music/Thunderbird.ogg"
		},
		{
			"name" : "Time Warp",
			"directory" : "/music/timewarp.ogg"
		},
		{
			"name" : "Track = 88",
			"directory" : "/music/track=88.ogg"
		},
		{
			"name" : "Treetops",
			"directory" : "/music/treetops.ogg"
		},
		{
			"name" : "Trinity",
			"directory" : "/music/trinity.ogg"
		},
		{
			"name" : "Undersea Dreams",
			"directory" : "/music/Undersea-Dreams.ogg"
		},
		{
			"name" : "Villainous Tower",
			"directory" : "/music/villainous-tower.ogg"
		},
		{
			"name" : "Virtue Lost",
			"directory" : "/music/virtue_lost.ogg"
		},
		{
			"name" : "Virtutes Instrumenti",
			"directory" : "/music/virtutes instrumenti.ogg"
		},
		{
			"name" : "Voxel Heart",
			"directory" : "/music/Voxel-Heart.ogg"
		},
		{
			"name" : "Waves",
			"directory" : "/music/waves.ogg"
		},
		{
			"name" : "Window",
			"directory" : "/music/window.ogg"
		},
		{
			"name" : "Winter",
			"directory" : "/music/winter.ogg"
		},
		{
			"name" : "Witchers Tale",
			"directory" : "/music/witchers-tale.ogg"
		},
		{
			"name" : "WOJ 3",
			"directory" : "/music/WOJ-3.ogg"
		},
		{
			"name" : "World Of Ice",
			"directory" : "/music/world_of_ice.ogg"
		},
		{
			"name" : "Years To Come",
			"directory" : "/music/years-to-come.ogg"
		},
		{
			"name" : "Narshe",
			"directory" : "/music/narshe.ogg"
		},
		{
			"name" : "Meridia",
			"directory" : "/music/metroid_meridia.ogg"
		},
		{
			"name" : "Metroid Glass",
			"directory" : "/music/metroid_glass.ogg"
		},
		{
			"name" : "Norfair",
			"directory" : "/music/metroid_norfair.ogg"
		},
		{
			"name" : "Cybersphere 1",
			"directory" : "/music/cybersphere1.ogg"
		},
		{
			"name" : "Overworld",
			"directory" : "/music/overworld_forest.ogg"
		},
		{
			"name" : "Metroid Green",
			"directory" : "/music/metroid_green.ogg"
		},
		{
			"name" : "Angelhenge",
			"directory" : "/music/angelhenge.ogg"
		},
		{
			"name" : "Overworld Theme",
			"directory" : "/music/overworldtheme.ogg"
		},
		{
			"name" : "Savage",
			"directory" : "/music/savage.ogg"
		},
		{
			"name" : "Funk Fusion",
			"directory" : "/music/funkfusion.ogg"
		},
		{
			"name" : "Gaiden",
			"directory" : "/music/gaiden.ogg"
		},
		{
			"name" : "DS31",
			"directory" : "/music/ds31.ogg"
		},
		{
			"name" : "BB12",
			"directory" : "/music/bb12.ogg"
		},
		{
			"name" : "Met1",
			"directory" : "/music/met1.ogg"
		},
		{
			"name" : "Wa1",
			"directory" : "/music/wa1.ogg"
		}
	]
}

